.blog-item-details {
  border-bottom: 1px solid #9aa5b1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image{
  border-radius: 5px;
  height: 280px;
  width: 400px;
}

.blogs-details-container {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.author-publish-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.author {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    margin-right: 70px;
}

.publish {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    margin-left: 70px;
}

.blogs-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-title {
    font-family: Roboto;
    font-size: 30px;
    color: rgb(10, 8, 76);
    text-decoration: underline;
    text-align: center;
}

.blog-description {
    font-family: Roboto;
    color: rgb(67, 65, 65);
    font-size: 20px;
    text-align: center;
}

.blog-content {
    font-family: Roboto;
    font-size: 16px;
    text-align: center;
}